.post{
    display: inline-block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
}
    .post > .header{
        display: inline-block;
        width: 100%;
    }
        .post > .header > img{
            display: inline-block;
            width: 50px;
            height: 50px;
            float: left;
            object-fit: cover;
            object-position: center;
            border-radius: 50%;
        }
        .post > .header > .texts {
            display: inline-block;
            width: calc(100% - 90px);
            padding: 0 0 0 20px;
            float: left;
        }
            .post > .header .title {
                display: inline-block;
                width: 100%;
                margin-bottom: 5px;
            }
                .post > .header a{
                    display: inline-block;
                    font-size: 18px;
                    line-height: 25px;
                }
            .post > .header .time{
                display: inline-block;
                width: 100%;
                font-size: 12px;
                line-height: 18px;
                color: #999;
            }
        .post > .header > .fa{
            display: inline-block;
            width: 40px;
            padding: 10px;
            margin: -10px -10px 0 0;
            float: right;
            text-align: center  ;
            color: #999;   

        }
    
    .post > .content{
        display: inline-block;
        width: 100%;
        padding: 10px 0;
        font-size: 16px;
        line-height: 20px;
        color: #333;
        font-weight: 350;
    }
        .post > .content > p{
            display: inline-block;
            width: 100%;
        }
            .post > .content > p.largeFontText{
                padding: 20px;
                font-size: 28px;
                line-height: 40px;
            }
            .post > .content > p.blue{
                padding: 60px 20px;
                background-color: blue;
                color: #fffc;
                text-align: center;
            }
            .post > .content > p.orange{
                padding: 60px 20px;
                background-color: orange;
                color: #555;
                text-align: center;
            }
            .post > .content > p .more{
                color: var(--main-color);
                font-weight: 500;
            }

        .post > .content > p + .gallery {
            margin-top: 20px;
        }
        .post > .content > .gallery {
            display: inline-block;
            width: 100%;
            height: 300px;
            overflow: hidden;
            position: relative;
        }
            .post .gallery > img{
                display: inline-block;
                width: 100%;
                height: 100%;
                float: left;
                object-fit: cover;
                object-position: center;
            }
        .post > .content > .gallery.gallery-2,
        .post > .content > .gallery.gallery-3 {
            height: 400px;
        }
            .post > .content > .gallery.gallery-2 img {
                width: 50%;
            }
            .post > .content > .gallery.gallery-3 img{
                height: 50%;
            }
            .post .gallery.gallery-3 > img:nth-child(2),
            .post .gallery.gallery-3 > img:nth-child(3){
                width: 50%;
            }
        .post > .content > .gallery.gallery-4{
            height: 450px;
        }
            .post .gallery.gallery-4 > img{
                width: 50%;
            }
            .post .gallery.gallery-4 > img:nth-child(2),
            .post .gallery.gallery-4 > img:nth-child(3),
            .post .gallery.gallery-4 > img:nth-child(4) {
                height: calc(100% / 3);
                float: right;
            }
        .post .gallery > .more{
            display: inline-block;
            width: 50%;
            height: calc(100% / 3);
            position: absolute;
            bottom: 0;
            right: 0;
            background-color: #222c;
            color: #fff5;
            text-align: center;
            font-size: 60px;
            font-weight: 500;
            line-height: 150px;
            border-radius: 20px;
        }

    .post > .footer{
        display: inline-block;
        width: 100%;
        font-weight: 300;
        color: #444;
    }
        .post > .footer > .row{
            display: inline-block;
            width: 100%;
            height: 50%;
            padding: 10px 0;
            border-top: 1px solid #ddd;
        } 
            .post > .footer > .row > .col{
                display: inline-block;
                width: 50%;
                float: left;
                text-align: center;
                font-size: 18px;
                line-height: 30px;
            }
                .post > .footer > .row i{
                    display: inline-block;
                    line-height: inherit;
                }
                .post > .footer > .row .text{
                    display: inline-block; 
                }
            .post > .footer  img{
                display: inline-block;
                width: 36px;
                height: 36px;
                float: left;
                object-fit: cover;
                object-position: center;
                border-radius: 18px;
            }
            .post > .footer .comment-form{ 
                display: inline-block;
                width: calc(100% - 50px);
                float: right;
                position: relative;
            }
                .post .comment-form > textarea{
                    display: inline-block;
                    width: 100%;
                    resize: vertical;
                    min-height: 20px;
                    max-height: 160px;
                    border-radius: 18px;
                    font-size: 14px;
                    line-height: 20px;
                    padding: 5px 10px;
                }
                .post .comment-form > .actions{
                    display: inline-block;
                    position: absolute;
                    bottom: 10px;
                    right: 10px;
                }
                    .post .comment-form > i{
                        display: inline-block;
                        float: left;
                        padding: 0 5px;
                        line-height: 15px;
                        font-size: 12px;
                    }
                

